/* 
    Document   : notifications
    Created on : 23-may-2012, 15:03:39
    Author     : El APRENDIZ www.elaprendiz.net63.net
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#usolicitud a{
    display: block;
}
